.colorButton {
  display: block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 16px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #22303c;
  text-align: center;
  transition: all 0.2s;
}
.colorButton:hover {
  color: beige;
  background-color: #000000;
}
.light-mode {
  color: #000000;
  background-color: beige;
}
.navItem {
  color: black;
  background: whitesmoke;
  text-decoration: none;
  padding: 10px 30px;
  margin-right: 5px;
  border-radius: 16px;
  border: 0.1em solid #ffffff;
  display: block;
}
.navItem:hover {
  color: beige;
  background-color: #000000;
}
